/.fabric/
/assets/
/crash-reports/
/data/
/defaultconfigs/
/libraries/
/logs/
/mods/
/ModTranslations/
/saves/
/schematics/
/screenshots/
/versions/
/world/
/banned-ips.json
/banned-players.json
/irisUpdateInfo.json
/ops.json
/realms_persistence.json
/resourcepacks
/shaderpacks
/usercache.json
/usernamecache.json
/whitelist.json
