/.fabric/
/assets/
/config/
/crash-reports/
/data/
/libraries/
/logs/
/mods/
/saves/
/versions/
/world/
/banned-ips.json
/banned-players.json
/ops.json
/options.txt
/realms_persistence.json
/resourcepacks
/shaderpacks
/usercache.json
/whitelist.json
